/* ----- GENERAL ----- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  background-color: rgb(29, 29, 29);
  overflow-x: hidden;
  overflow-y: hidden;
}

::selection {
  color: rgb(255, 255, 255);
  background-color: rgb(15, 0, 255);
}

/* ----- REUSABLE ----- */

.container {
  max-width: 130rem;
  margin: 0 auto;
}

/* ----- HEADER ----- */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.2rem 0 22rem 0;
  font-size: 3.6rem;
  color: rgb(255, 255, 255);
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.ph-circle-fill {
  font-size: 24px;
  color: rgb(226, 255, 0);
}

.header-logo p {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.logo-link:link,
.logo-link:visited,
.logo-link:hover,
.logo-link:active {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.header-title-description-container {
  padding: 0 15vw 0 15vw;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 25.6rem 0 4.8rem 0;
  font-size: 7.4rem;
  font-weight: 500;
  letter-spacing: -3.5px;
}

.header-title p {
  text-align: center;
}

.header-promotion {
  color: rgb(226, 255, 0);
}

.header-description {
  padding: 4.8rem 0.8rem 4.8rem 0.8rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: rgb(226, 255, 0);
  border-top: 1px solid rgb(102, 102, 102);
  border-bottom: 1px solid rgb(102, 102, 102);
  margin-bottom: 22rem;
  text-align: center;
}

.black-friday-img {
  display: flex;
  width: 100%;
  height: 75vh;
  object-fit: cover;
  padding: 0 3vw 0 3vw;
}

/* ----- SALE 1 ----- */

.sale-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  max-width: 100vw;
  padding: 0 3vw 0 3vw;
}

.sale-1-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: rgb(255, 255, 255);
}

.sale-1-title {
  padding: 0 0 4rem 0;
  font-size: 2.4rem;
  font-weight: 500;
  color: rgb(140, 140, 140);
}

.sale-1-description {
  display: flex;
  align-items: center;
  max-width: 130rem;
  font-size: 8rem;
  font-weight: 500;
  letter-spacing: -3.5px;
  padding: 0 0 10rem 0;
}

.sale-1-description p {
  text-align: center;
}

.sale-1-icon {
  font-size: 6.2rem;
  color: rgb(226, 255, 0);
}

.sale-1-description span {
  color: rgb(226, 255, 0);
  text-align: center;
}

/* ----- SALE 1 TEMPLATES ----- */

.sale-1-templates {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3vw;
  letter-spacing: -0.5px;
  padding: 0 0 20rem 0;
}

.img-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.template-img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0 0 2.4rem 0;
}

.template-title {
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: 500;
  padding: 0 0 0.6rem 0;
}

.template-price s {
  font-size: 2.4rem;
  font-weight: 500;
  color: rgb(105, 105, 105);
}

.template-price {
  font-size: 2.4rem;
  font-weight: 500;
  color: rgb(226, 255, 0);
}

.product-link:link,
.product-link:visited,
.product-link:hover,
.product-link:active {
  text-decoration: none;
}

/* ----- SALE 1 PACKAGE ----- */

.sale-1-package {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding: 4.5rem 6rem 4.5rem 6rem;
  background-color: rgb(64, 64, 64);
  transform: translate(0, 4vh);
}

.white-color:first-child {
  color: rgb(255, 255, 255);
}

.package-description {
  font-size: 3.4rem;
  font-weight: 500;
  color: rgb(163, 163, 163);
  letter-spacing: -0.5px;
  line-height: 4.5rem;
}

.package-parts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.5rem;
  row-gap: 7rem;
  color: rgb(255, 255, 255);
}

.part-icon {
  color: rgb(0, 0, 0);
  font-size: 2.6rem;
  background-color: rgb(226, 255, 0);
  margin-bottom: 2rem;
  padding: 0.9rem;
  border-radius: 50%;
}

.part-title {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: -0.5px;
  padding: 0 0 2.2rem 0;
}

.part-description {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.subgroup-link:link,
.subgroup-link:visited {
  text-decoration: none;
  border-bottom: 1px solid;
  color: rgb(255, 255, 255);
  transition: color 0.4s;
}

.subgroup-link:hover,
.subgroup-link:active {
  text-decoration: none;
  color: rgb(163, 163, 163);
}

/* ----- SALE 2 ----- */

.sale-2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  height: 100vh;
  background-color: rgb(226, 255, 0);
  padding: 0 20vw 0 20vw;
}

.sale-2-title {
  padding: 0 0 4rem 0;
  font-size: 2.4rem;
  font-weight: 500;
  color: rgb(126, 136, 48);
}

.sale-2-name {
  font-size: 8rem;
  font-weight: 500;
  letter-spacing: -3.5px;
  text-align: center;
}

.sale-2-description {
  font-size: 2.4rem;
  font-weight: 500;
  padding: 4rem;
  text-align: center;
}

.sale-2-icon {
  font-size: 6.5rem;
  padding: 9rem 0 0 0;
}

/* ----- SALE 2 PACKAGE */

.sale-2-package {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3vw 15rem 3vw;
  display: flex;
  flex-direction: column;
}

.sale-2-package-container {
  display: flex;
  flex-direction: column;
  padding: 15rem 0 15rem 0;
}

.sale-2-package-icon {
  font-size: 10rem;
  color: rgb(226, 255, 0);
  padding: 0 0 6rem 0;
}

.sale-2-package-container {
  font-size: 8rem;
  font-weight: 500;
  letter-spacing: -4px;
}

.sale-2-package-promotion {
  color: rgb(255, 255, 255);
  padding: 0 0 1rem 0;
}

.sale-2-package-price s {
  color: rgb(105, 105, 105);
}

.sale-2-package-price {
  color: rgb(226, 255, 0);
  padding: 3.5rem 0 0 0;
}

.sale-2-package-grid {
  display: grid;
  grid-template-columns: 40fr 60fr;
  gap: 3rem;
}

.sale-2-package-list {
  display: flex;
  border-top: 1px solid rgb(102, 102, 102);
}

.sale-2-package-list {
  display: flex;
  gap: 2.6rem;
  font-size: 1.9rem;
  font-weight: 500;
  padding: 4.5rem 0 0 0;
}

.sale-2-package-list-numbering {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list-product-number {
  color: rgb(226, 255, 0);
  letter-spacing: -0.5px;
}

.sale-2-package-list-nomenclature {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list-product-name {
  color: rgb(255, 255, 255);
}

.sale-2-package-description {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(102, 102, 102);
  padding: 4.5rem 0 0 0;
}

.sale-2-package-question {
  font-size: 2.5rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  letter-spacing: -0.5px;
  padding: 0 0 2rem 0;
}

.sale-2-package-answer {
  font-size: 1.9rem;
  font-weight: 500;
  color: rgb(140, 140, 140);
  line-height: 2.8rem;
}

.billboard-img {
  display: flex;
  width: 100%;
  height: 75vh;
  object-fit: cover;
  padding: 0 3vw 0 3vw;
  margin-bottom: 19rem;
}

/* ----- COLLABSIBLE ----- */

.qa-collabsible-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.5rem;
  padding: 0 3vw 0 3vw;
  max-width: 130rem;
  margin: 0 auto;
}

.collabsible-button {
  display: flex;
  flex-direction: column;
}

.collabsible-button-icon {
  color: rgb(0, 0, 0);
  background-color: rgb(226, 255, 0);
  padding: 0.3rem;
  font-size: 1.6rem;
  border-radius: 50%;
}

.collapsible {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 2.6rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.9rem;
  font-weight: 500;
  background-color: rgb(64, 64, 64);
  color: rgb(255, 255, 255);
}

.content {
  padding: 0 2.6rem 2.6rem 2.6rem;
  font-size: 1.6rem;
  line-height: 2.5rem;
  display: none;
  overflow: hidden;
  background-color: rgb(64, 64, 64);
  color: rgb(255, 255, 255);
}

/* ----- CALL TO ACTION ----- */

.cta-container {
  display: flex;
  justify-content: center;
  padding: 15rem 0 0 0;
}

.btn-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 120rem;
  width: 90vw;
  height: 40rem;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: -1px;
  text-decoration: none;
  border-radius: 320px;
  text-align: center;
}

.btn-cta:link,
.btn-cta:visited {
  color: rgb(0, 0, 0);
  background-color: rgb(226, 255, 0);
  transition: all 0.2s;
}

.btn-cta:hover,
.btn-cta:active {
  color: rgb(226, 255, 0);
  background-color: rgb(64, 64, 64);
}

/* ----- FOOTER ----- */

.footer {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  letter-spacing: -0.5px;
  padding: 5.5rem 0 13vw 0;
}
